@model WebApplication1.Models.Tinhtien
 @{
    ViewData["Title"] = "Tra cứu phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap" style="background-image: url('../images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Trang chủ</a></span> <span><a asp-controller="Home" asp-action="Restaurant">Thực đơn</a></span></p>
                    <h1 class="mb-4 bread">Tra cứu thông tin đặt phòng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;margin-top:30px;min-height:200px" class="check content-center">
    <div class="grid-rows-1 border-solid border-2 border-indigo-600">
        <form method="post" asp-action="Check">
        <label for="madatphong" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mã Đặt Phòng:</label><br />
        <input type="text" asp-for="RId" id="RId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Mã đặt phòng" required />
            <button  onclick="showtable()" style="background-color:#28a745;border-radius:15px;border:1px solid #28a745;width:100px;color:white" type="submit">Tra cứu</button>

        </form>

        <div style="text-align:center;justify-content:center;">
        <h1>Thông tin đặt phòng của bạn</h1>
            <table id="nut" style="color:black;margin: 0 auto;" border="solid black 1px">
            <tr style="padding:10px">
        <th>Mã đặt phòng</th>
        <th>Check in </th>
        <th>Check out</th>
        <th>Số ngày</th>
        <th>Chi nhánh</th>
        <th>Số phòng</th>
        <th>Tổng tiền </th>
        <th>Trạng thái</th>
        <th></th>
    </tr>
    <tr>
                   
                    <td>@Html.DisplayFor(model=>model.RId)</td>
                    <td>@Html.DisplayFor(model=>model.Checkin)</td>
                    <td>@Html.DisplayFor(model=>model.Checkout)</td>
                    <td>@Html.DisplayFor(model=>model.Tongngay)</td>
                    <td>@Html.DisplayFor(model=>model.Tenchinhanh)</td>
                    <td>@Html.DisplayFor(model=>model.Sophong)</td>
                    <td>@Html.DisplayFor(model => model.Tongtien) </td>
                    <td>@Html.DisplayFor(model=>model.Trangthai)</td> 
                    <td><button><a asp-action="thanhtoanvnpay" asp-route-id="@ViewBag.id">thanh toan</a></button></td>
    </tr>
</table>
        </div>
    </div>
</div>


